<main id="main-content">
  <div class="page-wrapper">
    <!-- H2 before for symantic structure before H2 -->
    <h3>My document history</h3>

    <!--Accessibility-->
    <ul aria-labelledby="docList" aria-label="Document history list"> 
      <li id="docList" *ngFor="let item of userDocument | orderBy: 'submittedDate':true">
        <div>
          <div class="badge steel">
            <p>{{ item.submittedDate | date: "d" }}</p>
            <br />
            <p>{{ item.submittedDate | date: "LLL" | uppercase }}</p>
          </div>

          You have successfully submitted your {{ item.documentName }}
          {{ item.participantName }}. ID: {{ item.receiptCode }}
        </div>

      </li>
    </ul> <!--end docList ul-->
  </div>
</main>
